
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/FileContentIndex/0cf96eaa-7aef-4623-b014-8c3f62f8cf7d.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/12bf648f360913e5/MAINPRUEBA.ipch
.vs/ProyectoFinal/FileContentIndex/23f3566a-6298-4b38-a4d1-efb55bf0f6f3.vsidx
.vs/ProyectoFinal/FileContentIndex/98af28b3-7560-42ff-b9d6-807d25ac3033.vsidx
.vs/ProyectoFinal/FileContentIndex/f7123321-e387-4927-8b90-4c874a128ab1.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/2cf9673b04795817/MAINPRUEBA.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/7a6ef62a1f3b9de3/317032392_REPORTE09_GPO06.ipch
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.log
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.log
.vs/ProyectoFinal/FileContentIndex/1f838c61-ea01-481e-b22a-1bd2b71d5a3b.vsidx
.vs/ProyectoFinal/FileContentIndex/31dfb6e1-3b5a-4e5f-8db5-86bb02545e03.vsidx
.vs/ProyectoFinal/FileContentIndex/ae258b6e-faae-4e2b-9334-4978a025bf16.vsidx
.vs/ProyectoFinal/FileContentIndex/31dfb6e1-3b5a-4e5f-8db5-86bb02545e03.vsidx
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.log
.vs/ProyectoFinal/FileContentIndex/31dfb6e1-3b5a-4e5f-8db5-86bb02545e03.vsidx
*.vsidx
*.ipch
ProyectoFinal/Debug/ProyectoFinal.log
*.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/CL.write.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.command.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.read.1.tlog
ProyectoFinal/Debug/ProyectoFinal.tlog/link.write.1.tlog
*.tlog
