
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/FileContentIndex/0cf96eaa-7aef-4623-b014-8c3f62f8cf7d.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/12bf648f360913e5/MAINPRUEBA.ipch
